<app-header></app-header>
<div class="flex justify-around mt-80">
    <div class="flex flex-col w-96">
        <h1 class="font-mono text-4xl text-white dark:text-black">Olá, Me chamo Breno Lopes</h1>
        <br>
        <p class="text-lg text-stone-700">Desenvolvedor FullStack</p>
        <div class="flex space-x-12 mt-2 flex items-center">
            
            <a href="https://drive.google.com/file/d/1I5zRqCRHFdyrRqhCawXJczXXRMCcAeo2/view?usp=drive_link" target="_blank" download="Curriculo.pdf" class="bg-green-400 h-10 w-30 px-10 p-2 border-solid text-white hover:bg-green-700 duration-150">Download CV</a>
            
            <a href="https://www.linkedin.com/in/breno-lopes-14b7b8202/" target="_blank" class="h-10 w-34 px-10 p-1 border-solid border-2 border-zinc-200 text-emerald-400 hover:bg-white ease-linear duration-150 dark:hover:bg-gray-900">LinkedIn</a>
        </div>
    </div>
    <div class="flex mb-20">
        <img src="https://vinybergamo.netlify.app/_next/image?url=%2Fassets%2Fimages%2F2.png&w=384&q=75">
    </div>
</div>

<div class="flex flex-col">

    <div class="flex flex-col items-center justify-center mt-40" id="about">
        <h1 class="font-mono text-6xl text-white dark:text-black">Sobre mim</h1>
        <p class="mt-20 text-2xl text-white w-9/12 dark:text-black">Nascido na cidade de João pessoa e criado no estado da Paraiba. Desde pequeno sempre gostei de tecnologia e sempre
        tentei me manter atualizado. Sou aquele tipo de pessoa que gosta de explorar ao máximo a tecnologia que tenho nas minhas mãos e sempre gostei de saber como as coisas funcionam.</p>
    </div>
</div>
<div class="flex justify-evenly w-10/12">
    <div class="flex flex-col mt-20 ml-60 w-96 ">
        <h2 class="font-mono text-xl text-white dark:text-black">Nome Completo</h2>
        <h3 class="font-mono text-slate-50 mt-2 dark:text-black">Breno Rodrigues Lopes Tolentino</h3>
    </div>

    <div class="flex flex-col mt-20  ml-60 w-96 ">
        <a href="mailto:brenosas2003@gmail.com" class="font-mono text-xl text-white hover:text-emerald-400 ease-linear duration-150 dark:text-black dark:hover:text-emerald-400 ease-linear duration-150">Me contate por um email</a>
    </div>

    <div class="flex flex-col mt-20  ml-60 w-96 ">
        <a href="https://github.com/ltbreno" 
       target="_blank" class="font-mono text-xl text-white hover:text-emerald-400 ease-linear duration-150 dark:text-black dark:hover:text-emerald-400 ease-linear duration-150">Meu Portfolio no Git Hub</a>
    </div>

    <div class="flex flex-col mt-20  ml-60 w-90">
        <h2 class="font-mono text-xl text-white dark:text-black">Meu Wpp Business</h2>
        <h3 class="font-mono text-slate-50 mt-2 dark:text-black">"83" 9 99843-5931</h3>
    </div>
    <br><br><br><br><br><br><br><br><br><br>
</div>

<div class="flex flex-col">
    <div class="flex flex-col items-center justify-center mt-80">
        <h1 class="text-white font-mono text-6xl dark:text-black">O que eu faço</h1>
    </div>

    <div class="flex justify-evenly mt-20">
        <div class="w-80 h-60 bg-neutral-800 dark:bg-neutral-200 rounded-xl">
            <img class="h-15 w-20 mt-8 ml-2" src="https://vinybergamo.netlify.app/assets/images/icon1.png"> <br><br>
            <h1 class="font-mono text-5xl text-neutral-700 align-bottom mb-4 ml-2">Software Developer</h1>
        </div>

        <div class="w-80 h-60 bg-neutral-800 dark:bg-neutral-200 rounded-xl">
            <img class="h-15 w-20 mt-8 ml-2 mb-4" src="https://vinybergamo.netlify.app/assets/images/icon2.png"> <br>
            <h1 class="font-mono text-5xl text-neutral-700 align-bottom ml-2">Web Developer</h1>
        </div>

        <div class="w-80 h-60 bg-neutral-800 dark:bg-neutral-200 rounded-xl">
                <img class="h-15 w-20 mt-8 ml-2 mb-4" src="https://vinybergamo.netlify.app/assets/images/icon3.png">
                <h1 class="font-mono text-5xl text-neutral-700 align-bottom mt-16 ml-2">Web Design</h1>
        </div>
    </div>
</div>
<div class="flex flex-col items-center justify-center mt-80" id="skills">
<h1 class="text-white font-mono text-6xl dark:text-black">Minhas Habilidades</h1>
</div>
<div class="flex mt-20 justify-evenly font-mono">
    <div class="flex justify-evenly w-9/12 h-80 bg-neutral-800 dark:bg-neutral-200 rounded-xl">
        <div class="mt-28 text-center">
            <img class="h-15 w-20" src="https://raw.githubusercontent.com/devicons/devicon/master/icons/html5/html5-original.svg">
            <br>
            <a href="#" class="text-green-500 mt-10 text-2xl hover:text-white ease-linear duration-150">HTML</a>
        </div>
        <div class="mt-28 text-center">
            <img class="h-15 w-20" src="https://raw.githubusercontent.com/devicons/devicon/master/icons/css3/css3-original.svg">
            <br>
            <a class="text-green-500 mt-10 text-2xl text-center hover:text-white ease-linear duration-150">Css</a>
        </div>
        <div class="mt-28 text-center">
            <img class="h-15 w-20 mx-auto" src="https://raw.githubusercontent.com/jmnote/z-icons/master/svg/javascript.svg">
            <br>
            <a class="text-green-500 mt-10 text-2xl text-center hover:text-white ease-linear duration-150">JavaScript</a>
        </div>
        <div class="mt-28 text-center">
            <img class="h-15 w-20" src="https://raw.githubusercontent.com/jmnote/z-icons/master/svg/java.svg">
            <br>
            <a class="text-green-500 mt-20 text-2xl text-center hover:text-white ease-linear duration-150">Java</a>
        </div>
    </div>
</div>

<br><br>