
<div class="flex row h-16 items-end justify-evenly px-5">
    <a href="" class="font-mono text-xl text-white no-underline hover:text-emerald-400 ease-linear duration-150 dark:text-black dark:hover:text-emerald-400 ease-linear duration-150">Home</a>
    <a href="#about" class="font-mono text-xl text-white no-underline hover:text-emerald-400 ease-linear duration-150 dark:text-black dark:hover:text-emerald-400 ease-linear duration-150">Sobre mim</a>
    <a href="/projetos" class="font-mono text-xl text-white no-underline hover:text-emerald-400 ease-linear duration-150 dark:text-black dark:hover:text-emerald-400 ease-linear duration-150">Projetos</a>
    <a href="#skills" class="font-mono text-xl text-white no-underline hover:text-emerald-400 ease-linear duration-150 dark:text-black dark:hover:text-emerald-400 ease-linear duration-150">Skills</a>
    <!--Modo light Modo Dark-->
    <label class="flex cursor-pointer relative">
        <input type="checkbox" class="sr-only peer" />
        <div class="peer after:bg-[length:12px_12px] after:bg-no-repeat after:bg-center after:bg-[url('./assets/lua.svg')] peer-checked:after:bg-[url('./assets/sol.svg')] peer-checked:bg-zinc-300 dark:bg-zinc-700
         after:transition-all after:duration-300 after:left-0 peer-checked:after:left-12 w-24 h-12h bg-zinc-700 rounded-full px-1 items-center flex after:rounded-full after:content-[''] 
         after:relative after:flex after:w-10 after:h-10 after:bg-zinc-800 dark:after:bg-zinc-100 ">

        </div>
    </label>
</div>