<app-header></app-header>
<h1 class="flex justify-center mt-32 font-mono text-6xl text-white dark:text-black">Meus projetos</h1>
    <div class="flex flex-wrap mt-20 justify-evenly">
        <div class="flex w-64 h-80 bg-neutral-800 dark:bg-neutral-200 rounded-xl">
            <div class="mt-2 text-center">
                <h1 class="font-mono text-xl text-white dark:text-black">Linguagem Predominante</h1>
                <img class="h-32 w-24 mt-3 m-auto" src="https://raw.githubusercontent.com/devicons/devicon/master/icons/html5/html5-original.svg">
                <h1 class="font-mono text-xl text-white dark:text-black mb-4">{{text}}</h1>
                <a href={{link}} target="_blank" class="bg-green-400 h-10 w-30 px-10 p-2 border-solid text-white hover:bg-green-700 duration-150">No Github</a>
            </div>
        </div>

        <div class="flex w-64 h-80 bg-neutral-800 dark:bg-neutral-200 rounded-xl">
            <div class="mt-2 text-center">
                <h1 class="font-mono text-xl text-white dark:text-black">Linguagem Predominante</h1>
                <img class="h-32 w-24 mt-3 m-auto" src="https://raw.githubusercontent.com/jmnote/z-icons/master/svg/javascript.svg">
                <h1 class="font-mono text-xl text-white dark:text-black mb-4">{{text1}}</h1>
                <a href={{link1}} target="_blank" class="bg-green-400 h-10 w-30 px-10 p-2 border-solid text-white hover:bg-green-700 duration-150">Github</a>
            </div>
        </div>

        <div class="flex w-64 h-80 bg-neutral-800 dark:bg-neutral-200 rounded-xl">
            <div class="mt-2 text-center">
                <h1 class="font-mono text-xl text-white dark:text-black">Linguagem Predominante</h1>
                <img class="h-32 w-24 mt-3 m-auto" src="https://vinybergamo.netlify.app/assets/images/typescript.png">
                <h1 class="font-mono text-xl text-white dark:text-black mb-4">{{text2}}</h1>
                <a href={{link2}} target="_blank" class="bg-green-400 h-10 w-30 px-10 p-2 border-solid text-white hover:bg-green-700 duration-150">Github</a>
            </div>
        </div>

    </div>
<!-- Segunda Parte dos Projetos -->

    <div class="flex flex-wrap mt-20 justify-evenly">
        <div class="flex w-64 h-80 bg-neutral-800 dark:bg-neutral-200 rounded-xl">
            <div class="mt-2 text-center">
                <h1 class="font-mono text-xl text-white dark:text-black">Linguagem Predominante</h1>
                <img class="h-32 w-24 mt-3 m-auto" src="https://raw.githubusercontent.com/devicons/devicon/master/icons/html5/html5-original.svg">
                <h1 class="font-mono text-xl text-white dark:text-black mb-4">{{text3}}</h1>
                <a href={{link3}} target="_blank" class="bg-green-400 h-10 w-30 px-10 p-2 border-solid text-white hover:bg-green-700 duration-150">No Github</a>
            </div>
        </div>

        <div class="flex w-64 h-80 bg-neutral-800 dark:bg-neutral-200 rounded-xl">
            <div class="mt-2 text-center">
                <h1 class="font-mono text-xl text-white dark:text-black">Linguagem Predominante</h1>
                <img class="h-32 w-24 mt-3 m-auto" src="https://raw.githubusercontent.com/jmnote/z-icons/master/svg/javascript.svg">
                <h1 class="font-mono text-xl text-white dark:text-black mb-4">{{text4}}</h1>
                <a href={{link4}} target="_blank" class="bg-green-400 h-10 w-30 px-10 p-2 border-solid text-white hover:bg-green-700 duration-150">Github</a>
            </div>
        </div>

        <div class="flex w-64 h-80 bg-neutral-800 dark:bg-neutral-200 rounded-xl">
            <div class="mt-2 text-center">
                <h1 class="font-mono text-xl text-white dark:text-black">Linguagem Predominante</h1>
                <img class="h-32 w-24 mt-3 m-auto" src="https://vinybergamo.netlify.app/assets/images/typescript.png">
                <h1 class="font-mono text-xl text-white dark:text-black mb-4">{{text2}}</h1>
                <a href={{link2}} target="_blank" class="bg-green-400 h-10 w-30 px-10 p-2 border-solid text-white hover:bg-green-700 duration-150">Github</a>
            </div>
        </div>

    </div>
    